<body>
    <main>
            <nav>
                <h1 id="logo">Explore and Share</h1>

                <ul class="nav-links">
                    <li>Home</li>
                    <li>Contact</li>
                    <li>About</li>
                </ul>
            </nav>
            <h2 class="big-text">Let's Explore</h2>
        <section id="map">

        </section>
    </main>

    <div class="intro">
        <div class="intro-text">
            <h1 class="hide">
                <span class="text">Creating Information</span>
            </h1>
                <h1 class="hide">
                <span class="text">For Everyday Use</span>
            </h1>
                <h1 class="hide">
                <span class="text">Of Food And Entertainment.</span>
            </h1>

        </div>
    </div>
    <div class="slider"></div>
    <div class="toggle">
        <input type="checkbox" />
        <div class="slider round"></div>
        <a href="#" class="btn">Add Location</a>
        


    </div>
   
   
    <footer>
        <h3>Copyright</h3>
        <h3>Zak Monnet, Teshera Lee, Chad Tarpey</h3>

    </footer>


<script src="../assets/js/index.js"></script>
