<section id="contacts">
    <div class="container">
        <h2>Food Spots</h2>
        <p>Please input the name of the place</p>
        <div class="food-location">

            <div>
                <i class="fa fa map-marker"></i><span class="food-info"></span>
                <i class="fa fa map-marker"></i><span class="food-info"></span>
                <i class="fa fa map-marker"></i><span class="food-info"></span>

            </div>

            <div class="form">
                <form>
                    <input id="name" type="text" placeholder="Restaurant Name">
                    <input id="cuisine" type="text" placeholder="Cuisine">
                    <input id="coord" type="text" placeholder="Address">
                    <input id="cost" type="text" placeholder="cost">
                    <input id="url" type="text" placeholder="Website URL">
                    <input id="rating" type="text" placeholder="Rating">
                    <input id="family" type="checkbox"> Family Friendly
                    <input id="try" type="text" placeholder="Must Try Item">
                    <button class="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>